
#yoMenu .el-menu {
    background-color: #365FA4;
}

#yoMenu .el-submenu__title,
.el-menu-item {
    color: #ffffff;
}

#yoMenu .el-submenu .el-menu-item {
    background-color: #253044;
}

#yoMenu .el-submenu__title:hover,
#yoMenu .el-menu-item:hover {
    background-color: #3B70C2;
    color: #ffffff;
}

#yoMenu .el-menu-item.is-active {
    background-color: #1F4989;
    color: #ffffff;
}


/* button */

.el-button {
    border-color: #365FA4;
    color: #365FA4;
}

.el-button:focus,
.el-button:hover {
    border-color: #365FA4;
    background-color: #365FA4;
    color: #FEFEFE;
}

.el-button:active {
    color: #FEFEFE;
    border-color: #3B70C2;
    background-color: #3B70C2;
    outline: 0;
}

.el-button--primary {
    color: #FEFEFE;
    background-color: #365FA4;
    border-color: #365FA4;
}

.el-button--primary:focus,
.el-button--primary:hover {
    background: #3B70C2;
    border-color: #3B70C2;
    color: #FFF;
}

.el-button--primary:active {
    outline: 0;
}

.el-button--primary.is-active,
.el-button--primary:active {
    background: #365FA4;
    border-color: #365FA4;
    color: #FFF;
}

.el-button--danger {
    color: #F16062;
    background: #FFF;
    border-color: #F16062;
}

.el-button--danger:focus,
.el-button--danger:hover {
    background: #F16062;
    border-color: #F16062;
    color: #FFF;
}

.el-button--danger:active {
    outline: 0;
}

.el-button--danger.is-active,
.el-button--danger:active {
    background: #F16062;
    border-color: #F16062;
    color: #FFF;
}

.el-button--text {
    color: #365FA4;
    background: #FFF;
    border-color: transparent;
}

.el-button--text:focus,
.el-button--text:hover {
    background: transparent;
    border-color: transparent;
    color: #3B70C2;
}

.el-button--text:active {
    outline: 0;
}

.el-button--text.is-active,
.el-button--text:active {
    background: transparent;
    border-color: transparent;
    color: #1F4989;
}


/* Enum */

.el-select .el-input.is-focus .el-input__inner {
    border-color: #365FA4;
}

.el-select:hover .el-input__inner {
    border-color: #3B70C2;
}

.el-input__inner:hover {
    border-color: #3B70C2;
}

.el-select-dropdown__item.selected {
    color: #365FA4;
    font-weight: 700;
}

.my-city .el-form-item__content {
    margin-right: 20px;
}

.my-city .el-form-item__content .el-select {
    float: left;
    width: 32%;
    margin-right: 2%;
}

.my-city .el-form-item__content .el-select:nth-of-type(3) {
    margin-right: 0;
}


/* 单选框 */

.el-radio-button__orig-radio:checked+.el-radio-button__inner {
    color: #fff;
    background-color: #365FA4;
    border-color: #365FA4;
    -webkit-box-shadow: -1px 0 0 0 #365FA4;
    box-shadow: -1px 0 0 0 #365FA4;
}

.el-radio__input.is-checked+.el-radio__label {
    color: #365FA4;
}

.el-radio__input.is-checked .el-radio__inner {
    border-color: #365FA4;
    background: #365FA4;
}


/* switch开关 */

.el-switch.is-checked .el-switch__core {
    border-color: #365FA4;
    background-color: #365FA4;
}

.el-radio-button__orig-radio:disabled:checked+.el-radio-button__inner {
    background-color: #365FA4;
}


/* 详情 */

.col_content_box {
    display: flex;
}

.detail_label,
.value_w {
    line-height: 40px;
    color: #666;
    font-size: 14px;
}
.detail_label {
    padding-right: 14px;
    box-sizing: border-box;
}

.value_w {
    color: #222;
    border-bottom: 1px solid #ccc;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #365FA4;
    border-color: #365FA4;
}

.el-checkbox__input.is-checked+.el-checkbox__label {
    color: #365FA4;
}


/* 文件上传组件样式 */

.avatar-uploader .el-upload {
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: #3B70C2;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 148px;
    height: 148px;
    line-height: 148px !important;
    text-align: center;
}

.avatar {
    width: 148px;
    height: 148px;
    border: 1px solid #ccc;
    border-radius: 6px;
    /* display: block; */
}

.el-icon-document {
    height: auto !important;
}

.el-upload-act:hover {
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    border-radius: 6px;
}

.el-upload-act {
    position: absolute;
    width: 148px;
    height: 148px;
    line-height: 148px;
    left: 0;
    top: 0;
    cursor: default;
    text-align: center;
    color: #fff;
    opacity: 0;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.el-upload-act-preview {
    margin-right: 10px;
    cursor: pointer;
}

.el-upload-act-delete {
    cursor: pointer;
}


/*.el-progress{
  top: -136px;
}*/


/* textarea样式 */

.el-textarea__inner:hover {
    border-color: #3B70C2;
}

.el-textarea__inner:focus {
    border-color: #1F4989;
}


/* 解决字体加粗 */

.el-checkbox,
.el-checkbox-button__inner,
.el-radio {
    font-weight: 400;
}